<div class="header">
    <h1>Proxmox</h1>
    <a href="{{path('admin.addServer')}}" class="ui primary button">Créer groupe</a>
</div>
<div class="container">
    <div class="menu ui segment">
        {{ q['burger-menu'] | raw }}
    </div>
    <div class="content">
        <div class="ui segment">
            <div class="header-content">
                <div class="title"><h3>{%block contentTitle %}{%endblock%}</h3></div>
                <!-- TODO Ajout verif block contentAction existe .. on affiche  -->
            </div>
            <div class="content">
                {% block toto %}{% endblock %}
            </div>
            <!-- TODO verif si contentBottomAction existe .. on affiche -->
<!--            <div class="extra content">
                <button class="ui button">Join Project</button>
            </div>-->
        </div>

    </div>
</div>
