<div class="header">
    <div class="image">
        <a href="{{path('index')}}"><img src="assets/img/logo.png"/></a>
    </div>
    <div class="header-actions">
        <div class="user-infos">
            <p>Bienvenue Thomas.L</p>
        </div>
        <div class="nav-links">
            <a href="{{path('serveur.addServer')}}" class="ui basic violet button"><i class="fas fa-user-friends"></i> Groupes</a>
            <a href="{{path('serveur.addServer')}}" class="ui basic violet button"><i class="fas fa-user"></i> Utilisateurs</a>
            <a href="{{path('serveur.getAll')}}" class="ui basic violet button"><i class="fas fa-server"></i> Serveurs</a>
            <a href="{{path('index')}}" class="ui basic violet button"><i class="fas fa-network-wired"></i> VMs</a>
            <a href="{{path('serveur.addServer')}}" class="ui basic violet button"><i class="fas fa-sign-out-alt"></i> Déconnexion</a>
        </div>
    </div>
</div>
<div class="container">
    {{ q['menu'] | raw }}
    <div class="content">
        <div class="ui segment">
            <div class="header-content">
                <div class="title">
                    <h3>{%block contentTitle %}{%endblock%}</h3>
                </div>
                {% if block("contentHeaderAction") is defined %}
                    <div class="actions">
                        {%block contentHeaderAction %}{%endblock%}
                    </div>
                {% endif %}
            </div>
            <div class="content" id="content">
                {% block content %}{% endblock %}
            </div>
            {% if block("contentBottomAction") is defined %}
            <div class="extra content">
                {% block contentBottomAction %}{% endblock %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
