<div class="header">
    <div class="image">
        <img src="assets/img/logo.png"/>
    </div>
    <div class="header-actions">
        <div class="user-infos">
            <p>Bienvenue Thomas.L</p>
        </div>
        <div class="nav-links">
            <a href="{{path('admin.addServer')}}" class="ui basic violet button"><i class="fas fa-user-friends"></i> Groupes</a>
            <a href="{{path('admin.addServer')}}" class="ui basic violet button"><i class="fas fa-user"></i> Utilisateurs</a>
            <a href="{{path('admin.addServer')}}" class="ui basic violet button"><i class="fas fa-server"></i> Serveurs</a>
            <a href="{{path('admin.getVms')}}" class="ui basic violet button"><i class="fas fa-network-wired"></i> VMs</a>
            <a href="{{path('admin.addServer')}}" class="ui basic violet button"><i class="fas fa-sign-out-alt"></i> Déconnexion</a>
        </div>
    </div>
</div>
<div class="container">
    {{ q['menu'] | raw }}
    <div class="content">
        <div class="ui segment">
            <div class="header-content">
                <div class="title"><h3>{%block contentTitle %}{%endblock%}</h3></div>
                <!-- TODO Ajout verif block contentAction existe .. on affiche  -->
            </div>
            <div class="content">
                {% block toto %}{% endblock %}
            </div>
            {% if block("contentBottomAction") is defined %}
            <div class="extra content">
                {% block contentBottomAction %}{% endblock %}
            </div>
            {% endif %}
        </div>

    </div>
</div>
