body{
	background-color: #f8f9fa!important;
}
.head{
	background-color: #1f1f1f;
}

.menu.links{
	background-color: #f8f9fa!important;
	padding: 10px 0;
}

.version{
	background-color: #D39D38!important;
	color: white!important;
}

.segment.container {
	background-color: #4d4d4d;
}

body .header {
	min-height: 15vh;
	padding: 10px;
}

body .header img {
	width: 250px;
}

body .header .image {
	height: 10vh;
	display: flex;
	align-items: center;
}

body .header-actions p {
	font-size: 1.5em;
}

body .header-actions{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.container {
	display: flex;
	padding: 5px;
}

.container #menu {
	flex-basis: 20% !important;
	background-color: #ffffff;
	margin: 5px;

}

.container .content {
	flex-basis: 80%;
	margin: 5px;
}

body .container .content .header-content {
	min-height: 5vh;
	margin: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.server-general-infos {
	margin-bottom: 10px;
}

.server-associated-infos {
	display: flex;
	flex-direction: column;
}

.server-associated-infos .section {
	margin: 10px 0;
}