body{
	background-color: #f8f9fa!important;
}
.head{
	background-color: #1f1f1f;
}

.menu.links{
	background-color: #f8f9fa!important;
	padding: 10px 0;
}

.version{
	background-color: #D39D38!important;
	color: white!important;
}

.segment.container {
	background-color: #4d4d4d;
}

body .header {
	min-height: 15vh;
}

.container {
	display: flex;
	padding: 5px;
}

.container .menu {
	flex-basis: 20%;
	background-color: #ffffff;
	margin: 5px;

}

.container .content {
	flex-basis: 80%;
	margin: 5px;
}

body .container .content .header-content {
	min-height: 5vh;
}
